* {
    box-sizing: border-box;
  }
  
body {
    background: lightgray;
}

#name {
    background: teal;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    height: 70px;
    width: 265px;
    margin-top: -10px;
    text-align: center;
    padding: 20px;
    border: 0;
    position: relative;
    float: unset; 
    display: flex;
    align-items: center;
}

section.headingbar {
    background: white;
    height: 70px;
    width: 100%;
    margin-top: -10px;
    font-size: 20px;
}

#headerboxcenter {
    background: white;
    width: 960px;
    height: 70px;
}