* {
    box-sizing: border-box;
  }
  
body {
    background: lightgray;
}

#name {
    background: teal;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    height: 70px;
    margin: 10px;
    text-align: center;
    padding: 20px;
}